process.executor = 'slurm'
conda.enabled = false
conda.useMicromamba = false
cleanup = true

process {
    beforeScript = """
        export PATH=/path/to/mamba/bin:\$PATH
    """
}

executor {name = 'slurm'
         queueSize = 20 }

params {
        sample=''
        threads=
        time='24h'
	checkv_env='/path/to/checkv/env'
	checkv_db='/path/to/checkv_db/checkv-db-v1.5'
	genomad_env='/path/to/mamba/envs/genomad'
	genomad_db='/path/to/genomad_db_1.9/genomad_db'
	seqkit_env='/path/to/mamba/envs/preprocessing'
	megahit_env='/path/to/mamba/envs/megahit'
        read_dir="/path/to/fastq/${params.sample}/processed"
	out_dir="/path/to/fastq/${params.sample}/assembly"
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.out_dir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.out_dir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.out_dir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.out_dir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}
