cleanup = true

process {
    executor = 'slurm'  
    beforeScript = { "export PATH=${params.conda_env}/bin:\$PATH" }
    cpus = 
    time = '24h'
}

executor {
    name = 'slurm'
    queueSize = 20
    submitRateLimit = '20/1min'  
}

params {
    sample = ''
    conda_env = '/path/to/preprocessing'
    scrub_threads =                        //this should be half of total cpus allocated
    read_dir="/path/to/fastq/${sample}/"
    reads = "${read_dir}/*_R{1,2}.fastq.gz"
    output_dir="/path/to/fastq/${sample}/processed"
    bbduk_db = '/path/to/bbtools/riboKmers20fused.fa'
    sra_hum_scrub_db = "/path/to/sra-human-scrubber/human_filter.db.20240718v2"
}

def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file = "${params.output_dir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file = "${params.output_dir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file = "${params.output_dir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file = "${params.output_dir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

